@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: auto !important;
    overflow: initial !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    padding: 0px;
  }

  .print-btn {
    display: none;
  }
  .main-receipt-item {
    font-size: 12px;
    line-height: 95%;
  }
  .main-receipt-desglose {
    font-size: 12px;
    line-height: normal;
  }
  .main-receipt-totals {
    font-size: 16px;
    line-height: 95%;
  }

  .main-receipt {
    overflow: visible;
    height: auto; /* Ensure height adapts to content */
  }

  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  margin: 0; /* Remove fixed margin for auto sizing */
}
