@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: auto !important; /* Allow height to adjust */
    overflow: hidden; /* Prevent overflow */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
  }

  .main-receipt {
    width: 80mm; /* Set receipt width */
    height: auto; /* Allow height to adjust */
    overflow: visible; /* Ensure visibility of all content */
    page-break-inside: avoid; /* Prevent breaking inside receipt */
    font-size: 12px;
    line-height: 95%;
  }

  .main-receipt-desglose {
    font-size: 12px;
    line-height: normal;
  }
  .main-receipt-totals {
    font-size: 16px;
    line-height: 95%;
  }

  .print-btn {
    display: none; /* Hide print button */
  }
}

@media print {
  .main-receipt {
    overflow: visible;
    height: auto;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: 80mm auto; /* Set width to 80mm and let height be auto */
  margin: 0; /* Remove margins to eliminate extra space */
}
